body {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #333;
    padding: 10px 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.Titel {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.content {
    flex: 1;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contact-form, .contact-info {
    width: 45%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea, .contact-form button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: #575757;
    color: #fff;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #444;
}

.placeholder-image {
    width: 100%;
    height: 300px;
    background-color: #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
}

.footer {
    background: #000;
    color: #efefef;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.info-contact-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.footer .colum-1, .footer .colum-3, .footer .colum-2 {
    width: 30%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.footer .colum-1, .footer .colum-3 {
    text-align: center;
}

.footer .colum-1 h3, .footer .colum-3 h3 {
    text-align: center;
}

.footer .info-links {
    display: flex;
    flex-direction: row; /* Stellt sicher, dass die Links in einer Linie sind */
    justify-content: center;
    gap: 5px; /* Abstand zwischen den Links */
}

.footer .info-links a {
    color: #efefef;
    text-decoration: none;
}

.footer .info-links a:hover {
    text-decoration: underline;
}

.footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer form input {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    border-radius: 15em;
}

.footer form button {
    padding: 8px;
    width: 100%;
    max-width: 150px;
    background: transparent;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    border-radius: 15em;
}

.footer form button:hover {
    background-color: #444;
}

.social-logo {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.social-logo i {
    font-size: 22px;
    margin: 5px;
    cursor: pointer;
}
.contact-image {
    width: 10%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.card {
    margin-bottom: 20px;
    background: transparent; 
    border: none;
}

.card-title {
    text-align: center;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 10px;
    border-radius: 0 0 5px 5px; 
}

.card-body a {
    background: rgba(0, 0, 0, 0.7); 
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.card-body a:hover {
    background: rgba(0, 0, 0, 0.9);
}
